[mysqld]
skip-external-locking
skip-name-resolve
general_log = 1
general_log_file = /var/lib/mysql/general.log
key_buffer=16M
max_allowed_packet=10000M
wait_timeout = 28800
innodb_buffer_pool_chunk_size=128M
innodb_buffer_pool_size = 128M
innodb_buffer_pool_instances = 4
innodb_read_io_threads = 4
innodb_write_io_threads = 4

slow_query_log = 0
